#swamp1 {
  width: 100%;
  height: 100%;
  color: teal;
}

.swamp-comtainer canvas {
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}
.swamp-container{
  position: relative;
  overflow: hidden;
  --size:250px;
   user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}